body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    border-bottom: 4px dotted darkred;
    padding-bottom: 8px;
}

.nav {
    background-color: gray;
    padding: 16px;
}

.nav-item {
    background-color: lightblue;
    border: 2px solid darkblue;
    padding: 8px;
    margin-bottom: 8px;
}

.last {
    margin-bottom: 0;
}